:root {
    --primary: hsl(190, 68%, 53%);
    --prymary-dark: hsl(190, 68%, 50%);
    --secondary: hsl(25, 99%, 63%);
    --secondary-dark: hsl(25, 99%, 60%);
    --white: #f5f9fa;
    --white: #ebf3f5;
    --gray: #e1e4e5;
    --gray2: #c0c6c9;
    --gray3: #4b4c4d;
    --black: #323333;
    --black2: #2a2b2b;
}